$primary-color: #dd3f3f;
$secondary-color: #13ADDE;
$border-color: #7f7f7f;

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

div {
    margin: auto;
    
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: center;

}

nav  {
    width: 98%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
    padding-top: 5px;
    padding-right: 5px;
    border-radius: 12px;
    box-shadow: 2px 2px 0px $primary-color;
    a{
        font-family: 'Roboto', sans-serif;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        color: black;
    }
}

.bottom-nav  {
    width: 98%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
    padding-top: 18px;
    padding-right: 7px;
    border-radius: 12px;
    a{
        font-family: 'Roboto', sans-serif;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        color: black;
    }
}

@mixin nav-base {
    padding: 5px;
    display: flex;
    border: solid black 1px;
    box-shadow: 2px 2px 0px #000000;
    border-radius: 12px;
}

.nav-option {
    @include nav-base();
    
}

.nav-option-selected {
    @include nav-base();
    box-shadow: 2px 2px 0px $secondary-color;
}


.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 6px; 
}

@mixin content {
    font-family: 'Red Hat Display', sans-serif;
    max-width: 100%;
    width: 100%;
    padding-top: 3px;
    border-bottom: solid black 1px;
    line-height: 80%;
    font-size: 18px;
    h1 {
        font-weight: lighter;
        font-size: 9.5vw;
        text-align: center;
    }
    h3 {
        font-family: 'Red Hat Display', sans-serif;
        font-size: 5vw;
        font-weight: lighter;
        text-align: center;
    }
}

.content-div {
    @include content();
}

.content-div-post {
    @include content();
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 95%;
    }
    p {
        font-size: 12px;
        text-align: justify;
        margin: 0px;
        padding-left: 5%;
        padding-right: 5%;
    }
    h4 {
    margin: 0px;
    padding: 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 5vw;
    font-weight: bold;
    }
    a {
        text-decoration: none;
    }
}

.content-div-post-last {
    @include content();
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 95%;
    }
    p {
        font-size: 12px;
        text-align: justify;
        margin: 0px;
        padding-left: 5%;
        padding-right: 5%;
    }
    h4 {
    margin: 0px;
    padding: 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 5vw;
    font-weight: bold;
    }
    a {
        text-decoration: none;
    }
}



@media screen and (min-width: 600px){

    header {
        margin-left: 1.9%;
        justify-content: flex-start;
    }
    nav {
        
        width: 350px;
        box-shadow: none;
    }

    .content-div {
        max-width: 100%;
        border-top: solid black 1px;
        margin-top: 10px;
        h1 {
            font-size: 4vw;
        }
        h3 {
        font-size: 1.5vw;
        }
    }
    .content-div-post {
        max-height: 100%;
        max-width: 50%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        p {
            font-size: 15px;
            text-align: justify;
            margin: 0px;
            padding-left: 5%;
            padding-right: 5%;
        }
        h4 {
        font-size: 2.5vw;
        padding-bottom: 30px;
        padding-top: 30px;
        }
    }

    .content-div-post-last {
        max-height: 100%;
        max-width: 50%;
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        border-bottom: none;
        p {
            font-size: 15px;
            text-align: justify;
            margin: 0px;
            padding-left: 5%;
            padding-right: 5%;
        }
        h4 {
        font-size: 2.5vw;
        padding-bottom: 30px;
        padding-top: 30px;
        }
    }

}