$primary-color: #dd3f3f;
$secondary-color: #13ADDE;
$border-color: #7f7f7f;

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

div {
    margin: auto;
    
}

img {
    max-width: 100%;
}

header {
    width: 100%;
    padding-top: 5px;
    display: flex;
    justify-content: center;

}

nav  {
    width: 98%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
    padding-top: 5px;
    padding-right: 5px;
    border-radius: 12px;
    box-shadow: 2px 2px 0px $primary-color;
    a{
        font-family: 'Roboto', sans-serif;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        color: black;
    }
}

.bottom-nav  {
    width: 98%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 8px;
    padding-top: 18px;
    padding-right: 7px;
    border-radius: 12px;
    a{
        font-family: 'Roboto', sans-serif;
        white-space: nowrap;
        font-size: 1em;
        text-decoration: none;
        color: black;
    }
}

@mixin nav-base {
    padding: 5px;
    display: flex;
    border: solid black 1px;
    box-shadow: 2px 2px 0px #000000;
    border-radius: 12px;
}

.nav-option {
    @include nav-base();
    
}

.nav-option-selected {
    @include nav-base();
    box-shadow: 2px 2px 0px $secondary-color;
}


.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5px;
    padding-bottom: 10px;
    width: 95%;
    margin-bottom: 10px;
    border-radius: 6px; 
}

@mixin content {
    font-family: 'Red Hat Display', sans-serif;
    max-width: 100%;
    width: 100%;
    padding-top: 3px;
    border-bottom: solid black 1px;
    line-height: 80%;
    font-size: 18px;
    h1 {
        font-weight: lighter;
        font-size: 9.5vw;
        text-align: center;
    }
    h3 {
        font-family: 'Red Hat Display', sans-serif;
        font-size: 5vw;
        font-weight: lighter;
        text-align: center;
    }
}

.content-div-large {
    max-width: 100%;
}

.content-div {
    @include content();
    p {
        text-align: center;
    }
}

.contact-info {
    @include content();
    border: none;
    padding: none;
    p {
        text-align: center;
    }
}

.content-div-bottom {
    @include content();
    margin-top: 25px;
    border-top: solid black 1px;
}

.credit {
    margin-top: 15px;
    font-family: 'Red Hat Display', sans-serif;
}

.social-div {
    @include content();
    border-radius: 10px;
    background-color:  #f9f9f9;
    box-shadow: 0px 0px 8px #7f7f7f;
    border-bottom: none;
    margin-top: 20px;
    padding-bottom: 8px;
    a {
        text-align: center;
    }
}
.social-div-title{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    white-space: nowrap;
}
.social-div-sub {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 14px;
    padding-bottom: 15px;
    padding-top: 0px;
    img {
        width: 24%;  
    }
}
.social-div-div {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 14px;
    padding-bottom: 15px;
    padding-top: 0px;
}

.form-div {
    @include content();
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color:  #f9f9f9;
    box-shadow: 0px 0px 8px #7f7f7f;
    border-bottom: none;
}
.form-title{
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    width: 95%;
}

.form-element {
    width: 100%;
    padding-top: 9px;
    display: flex;
    justify-content: center;
}

// taken from https://markheath.net/post/customize-radio-button-css

.selector {
    padding-top: 8px;
  }
  
  .selector input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
.selector label {
    display: inline-block;
    padding: 8px;
    border: solid $border-color 1.5px;
    border-radius: 5px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background-color: #efefef;
}
  
.selector input[type="radio"]:checked + label {
    
    border-color: $secondary-color;
}
  

input  {
    width: 88%;
    padding: 8px;
    border: solid $border-color 1.5px;
    border-radius: 5px;
    font-family: 'Red Hat Display', sans-serif;
    &:focus {
        border: solid $secondary-color 1.5px;
        outline: none;
    }
}

textarea {
    width: 88%;
    height: 100px;
    padding: 8px;
    border: solid $border-color 1.5px;
    border-radius: 5px;
    font-family: 'Red Hat Display', sans-serif;
    resize: none;
    &:focus {
        border: solid $secondary-color 1.5px;
        outline: none;
    }
}
input[type=submit] {
    width: 90%;
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
}

@media screen and (min-width: 600px){

    header {
        padding-left: 1.9%;
        justify-content: flex-start;
    }
    nav {
        
        width: 350px;
        box-shadow: none;
    }

    .content-div {
        max-width: 100%;
        border-top: solid black 1px;
        margin-top: 10px;
        h1 {
            font-size: 4vw;
        }
    }
    .content-div-bottom {
        h3 {
            font-size: 1.5vw;
        }
    }

    .content-div-large {
        margin-top: 1%;
        margin-bottom: 1%;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 90%;
        max-width: 100%;
    }

    .social-div {
        max-width: 100%;
        margin-left: 30px;
        padding-bottom: 20px;
        width: 200px;
        height: 700px;
        img {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 35px;
            margin-top: 22px;
            max-width: 100%;
        }
    }
    
    .social-div-div {
        max-width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .social-div-sub {
        flex-direction: column;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-div {
        width: 75%;
        height: 700px;
        justify-content: flex-start;
    }

    textarea {
        height: 150px;
        width: 50%;
        max-width: 100%;
    }



    input {
        width: 50%;
    }

    input[type="submit"] {
        width: 30%;
    }

    .form-element {
        width: 700px;
        justify-content: flex-start;
    }

    .form-title{
        width: 700px;
    }
    .selector {
        width: 100%;
        justify-content: flex-start;
    }
    form {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15%;
    }
}

@media screen and (min-width: 1000px){
    textarea {
        width: 60%;
    }
}