html, body {
  max-width: 100%;
  overflow-x: hidden;
}

div {
  margin: auto;
}

img {
  max-width: 100%;
}

header {
  width: 100%;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 8px;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 0px #dd3f3f;
          box-shadow: 2px 2px 0px #dd3f3f;
}

nav a {
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  font-size: 1em;
  text-decoration: none;
  color: black;
}

.bottom-nav {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 8px;
  padding-top: 20px;
  padding-right: 7px;
  border-radius: 12px;
}

.bottom-nav a {
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  font-size: 1em;
  text-decoration: none;
  color: black;
}

.nav-option {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid black 1px;
  -webkit-box-shadow: 2px 2px 0px #000000;
          box-shadow: 2px 2px 0px #000000;
  border-radius: 12px;
}

.nav-option-selected {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid black 1px;
  -webkit-box-shadow: 2px 2px 0px #000000;
          box-shadow: 2px 2px 0px #000000;
  border-radius: 12px;
  -webkit-box-shadow: 2px 2px 0px #13ADDE;
          box-shadow: 2px 2px 0px #13ADDE;
}

.main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5px;
  padding-bottom: 10px;
  width: 95%;
  margin-bottom: 10px;
  border-radius: 6px;
}

.content-div {
  font-family: 'Red Hat Display', sans-serif;
  max-width: 100%;
  width: 100%;
  padding-top: 3px;
  border-bottom: solid black 1px;
  line-height: 80%;
}

.content-div h1 {
  font-weight: lighter;
  font-size: 9.5vw;
  text-align: center;
  padding-bottom: 1.5px;
}

.content-div h3 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 5vw;
  font-weight: lighter;
  text-align: center;
}

.content-div-card {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: solid black 1px;
}

.content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 0px 8px #7f7f7f;
          box-shadow: 0px 0px 8px #7f7f7f;
  width: 280px;
  height: 340px;
  border-radius: 35px;
  margin-top: 25px;
}

.content-card img {
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 8px #666666;
          box-shadow: 0px 0px 8px #666666;
  border-radius: 50%;
  width: 58%;
}

.card-text {
  width: 75%;
  font-family: 'Red Hat Display', sans-serif;
  text-align: center;
  line-height: 16px;
  margin-bottom: 28px;
}

.card-text h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card-text h2 {
  font-size: 13px;
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  header {
    padding-left: 1.9%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  nav {
    width: 350px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .content-div {
    max-width: 100%;
    border-top: solid black 1px;
    margin-top: 10px;
  }
  .content-div h1 {
    font-size: 4vw;
  }
  .content-div h3 {
    font-size: 1.5vw;
  }
  .content-div-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 670px;
    border-bottom: none;
  }
  .content-card {
    margin-bottom: 20px;
    -webkit-transition: .8s;
    transition: .8s;
  }
  .content-card.content-card:hover {
    -webkit-transform: scale(1.09, 1.09);
            transform: scale(1.09, 1.09);
    -webkit-box-shadow: 1px 1px 20px #666666;
            box-shadow: 1px 1px 20px #666666;
  }
}
/*# sourceMappingURL=portfolio-style.css.map */